<!-- <div class='age'> -->
  <div class="age-title">
    <h1 class='title'>ARE YOU 17 OR YOUNGER?</h1>
  </div>

  <div class="progress">
     <div class="determinate" style="width: 33%"></div>
  </div>

  <div class='age-info'>
    <i class="age-page small material-icons">info_outline</i>
    <a class='link' href='https://www.iwf.org.uk/what-we-do' target="_blank">
      Why do I need to prove my age?
    </a>
  </div>

  <div class='age-info'>
    <i class="age-page small material-icons">info_outline</i>
    <a class='link' href='https://www.childline.org.uk/info-advice/bullying-abuse-safety/online-mobile-safety/sexting/' target="_blank">
      What can I do if I am over 17?
    </a>
  </div>

    <div class='yoti-info'>
      <div id='yoti-info__content'>
        <h3>YOTI - CONFIDENTIALLY VERIFY YOUR AGE</h3>
        <i class="identity small material-icons">perm_identity</i>
        <p>
          Yoti empowers you to take back control over your identity. If you don't have a Yoti digital identity, please create <a class='link' href='yoti'>here</a> one and use it to verify you are under 17.
        </p>
      </div>

    </div>


  <div class='qr-container' id='qrcodecontainer'>
  </div>

  <span class='yoti-btn' id='yotiBtn'>
    <a
      class="btn yoti-connect learn-more btn-primary"
      data-target='embed'
      data-yoti-application-id='3392788e-e529-4309-8ed7-54d7ac554055'
      data-yoti-scenario-id="5be10ae7-af29-40b0-8d33-a0fb90cb0e88"
      data-yoti-type="inline"
      data-size="medium">
      Share your age using Yoti
    </a>
  </span>


<!-- </div> -->

<!-- required for yoti button -->
<script>
    _ybg.config.service = 'https://code.yoti.com/app/'
    _ybg.init()
</script>

<script type="text/javascript" src='js/animate.js'></script>
