{{#if isUnder18}}
<div class="content">
  <div class="title-div">
    <h1 class='title'>DESCRIBE THE ONLINE CONTENT</h1>
  </div>

  <div class="progress">
     <div class="determinate" style="width: 66%"></div>
  </div>

  <div class="form-container">
    <form action="#">
      <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-1"  />
        <label for="filled-in-box-1">Someone posing in a sexual way</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-2" />
        <label for="filled-in-box-2">Someone touching themselves in a sexual way</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-3" />
        <label for="filled-in-box-3">Any sexual activity involving a child, adult or both</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-4"  />
        <label for="filled-in-box-4">Someone hurting someone else</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-5" />
        <label for="filled-in-box-5">Sexual activity that includes animals.</label>
      </p>
      <a class="confirm waves-effect waves-light btn" href='/url-form.html'>Confirm</a>
    </form>

  </div>
  <div class="other-options">
    <div class="info">
      <i class="large material-icons">info_outline</i>
    </div>

    <div class="info-message">
      <p class="other-report">
        If the picture or video doesn't include any of the activities above,
         we may not be able to remove it. Talk to a
          <span><a href="https://www.childline.org.uk/get-support/1-2-1-counsellor-chat/"> Childline counsellor</a></span>
           for more advice.
        </p>
      </div>
      <div class="spacer" style="clear: both;"></div>
      <!--  <a class="waves-effect waves-light btn"><i class="large material-icons left">info_outline</i>Further options</a>-->

    </div>
  </div>

{{else}}

  <div class="title-div">
    <h2 class='old-title'>SORRY, YOU'RE TOO OLD FOR THIS SERVICE</h2>
    <p class='old-title-p'>
      You must be 17 or younger.
    </p>
  </div>

  <div class='background-pink'>
    <div class='old-info'>
        <h3>What can I do now?</h3>
        <i class="identity small material-icons">perm_identity</i>
        <p>
          Unfortunately IWF are not legally able to remove the online content if the person is over 18. There are other options though:
        </p>
    </div>
  </div>

{{/if}}
