{{#if isUnder18}}
<div class="content">
  <div class="title-div">
    <h2>Describe the image content</h2>
  </div>
  <div class="form-container">
    <form action="#">
      <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-1"  />
        <label for="filled-in-box-1">options...options..everywhere...ddfdfgf...fdgdfg.sdsgfdsg</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-2" />
        <label for="filled-in-box-2">options...options..everywhere</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-3" />
        <label for="filled-in-box-3">options...options..everywhere</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-4"  />
        <label for="filled-in-box-4">options...options..everywhere</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-5" />
        <label for="filled-in-box-5">options...options..everywhere</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="filled-in-box-6"   />
        <label for="filled-in-box-6">options...options..everywhere</label>
      </p>

      <a class="waves-effect waves-light btn" href='/url-form.html'>Confirm</a>
    </form>

  </div>
  <div class="other-options">
    <div class="info">
      <i class="large material-icons">info_outline</i>
    </div>

    <div class="info-message">
      <p class="other-report">
        If your report doesn't fall into any of these categories you could visit
        <span><a href="http://www.ceop.police.uk/report-abuse">ceop.police.uk</a></span>
        or see our useful links section.</p>
      </div>
      <div class="spacer" style="clear: both;"></div>
      <!--  <a class="waves-effect waves-light btn"><i class="large material-icons left">info_outline</i>Further options</a>-->

    </div>
  </div>

{{else}}
  <p>
     OVER 18
  </p>
{{/if}}
