@font-face { font-family: childline; src: url('../fonts/childline/Childline/ChildlineWeb/ChildlineWeb-Regular.otf'); }
@font-face { font-family: childline-bold; src: url('../fonts/childline/Childline/ChildlineWeb/ChildlineWeb-Bold.otf'); }
@font-face { font-family: Rosie; src: url('../fonts/childline/Rosie/rosie-regular-webfont.woff2'); }

body {
  font-family: 'childline';
}

.background-blue {
  background-color: #CCECF5;
}

/* Pallet RGB */
/*$color1: rgba(0, 161, 208, 1);
$color2: rgba(87, 87, 255, 1);
$color3: rgba(35, 79, 98, 1);
$color4: rgba(115, 207, 232, 1);
$color5: rgba(235, 88, 87, 1);
$color6: #f28c00;
$color7: #632c7a;
$color8: #CCECF5;*/


/*Age check page */
.age {
  height: 100vh;
}

.age-title {
  margin: 0;
  background-color: rgba(0, 161, 208, 1);
  padding: 4rem 1rem 2.5rem 1rem;
  text-align: center;
  height: 25vh;
}

.qr-container {
  position: absolute;
  bottom:26%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#canvas {
  border-radius: 0.5rem;
  background-color: white;
  height: 10rem;
  width: 10rem;
}


.yoti-btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  z-index: -1;
  margin-bottom: 1rem;
}

.yoti-btn a {
  display: block;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right:2rem;
}

.age-info {
  background-color: rgba(235, 88, 87, 1);
  display: flex;
  flex-direction: row;
  color: white;
  margin: 1rem;
}

.age-info a {
  font-size: 1.2rem;
  padding: 1rem;
  padding-left: 0;
}

.why-eighteen {
  margin: 0;
  font-size: 1.2rem;
  color: #0c3d52;
  padding: 1rem;
}

.why-eighteen a {
  padding: 0;
}

i.age-page {
  margin: 0.6rem;
}

.yoti-info {
  margin: 1rem;
  background-color: rgba(35, 79, 98, 1);
  box-sizing: border-box;
  padding: 1rem;
  color: #fff;
}

.yoti-info h3 {
  font-family: 'Rosie', 'childline-bold';
  font-size: 1.6rem;
  margin: 0;
  width: 90%;
  float:left;
}

.yoti-info p {
  padding-top: 1.2rem;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.identity-1 {
  width: 10%;
  text-align: right;
  color: white;
}

.link:hover {
  text-decoration: underline;
}
