@font-face { font-family: childline; src: url('../fonts/childline/Childline/ChildlineWeb/ChildlineWeb-Regular.otf'); }
@font-face { font-family: childline-bold; src: url('../fonts/childline/Childline/ChildlineWeb/ChildlineWeb-Bold.otf'); }
@font-face { font-family: Rosie; src: url('../fonts/childline/Rosie/rosie-regular-webfont.woff2'); }

body {
  font-family: 'childline';
}

.background-blue {
  background-color: #CCECF5;
}

/* Pallet RGB */
/*$color1: rgba(0, 161, 208, 1);
$color2: rgba(87, 87, 255, 1);
$color3: rgba(35, 79, 98, 1);
$color4: rgba(115, 207, 232, 1);
$color5: rgba(235, 88, 87, 1);
$color6: #f28c00;
$color7: #632c7a;
$color8: #CCECF5;*/


.landing-title {
  background-color: rgba(0, 161, 208, 1);
  padding: 4rem 1rem 1rem 1rem;
}

.landing-title__phone {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.landing-title h1 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  font-family: 'childline-bold';
  margin: 0;
}

.landing-title h3 {
  font-size: 1.2rem;
  /*font-family: 'Rosie';*/
  color: white;
  text-align: center;
}

.landing-info {
  margin: 1rem;
  background-color: rgba(35, 79, 98, 1);
  color: #fff;
}

.landing-info p {
  padding: 1rem;
  margin: 0;
}

.landing-info h4 {
  font-family: 'Rosie';
  padding: 1rem;
  padding-bottom: 0;
  margin: 0;
  font-size: 1.4rem;
}

.landing-sexting {
  width:100%;
  z-index: -1;
  opacity: 0.6;
  height: 30vh;
}

.landing-logo {
  position: relative;
  top: -10rem;
  float: left;
  min-width: 50%;
  box-sizing: border-box;
  text-align: center;
}

.landing-logo__img {
  height: 6rem;
}

.landing-btn {
  position: absolute;
  width: 20rem;
  font-size: 1.7rem;
  bottom: -2%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #632c7a;
}

/*Age check page */
.age {
  height: 100vh;
}

.age-title {
  padding: 1rem;
  margin: 0;
  background-color: rgba(0, 161, 208, 1);
  padding: 4rem 1rem 2.5rem 1rem;
  text-align: center;
}

.age-title h1 {
  font-size: 3rem;
  margin: 0;
  color: #fff;
  font-family: 'childline-bold';
}

.qr-container {
  position: absolute;
  bottom:30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#canvas {
  border-radius: 0.5rem;
  background-color: white;
  height: 10rem;
  width: 10rem;
}


.yoti-btn {
  position: fixed;
  bottom: 2%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: -1;
}

.yoti-btn a {
  display: block;
  margin: 0 auto;
}

.get-yoti-btn {
  background-color: rgba(235, 88, 87, 1);
  display: flex;
  flex-direction: row;
  color: white;
  margin: 1rem;
}

i.age-page {
  margin: 0.6rem;
}


.yoti-info {
  margin: 1rem;
  background-color: rgba(35, 79, 98, 1);
  box-sizing: border-box;
  padding: 1rem;
  color: #fff;
}

.yoti-info h3 {
  font-family: 'Rosie', 'childline-bold';
  font-size: 1.5rem;
  margin: 0;
  width: 90%;
  float:left;
  margin-bottom: 1rem;
}

.identity {
  width: 10%;
  margin-bottom: 1.5rem;
  text-align: right;
}

.link:hover {
  text-decoration: underline;
}
